<!DOCTYPE html>
<html>
  <head>
     <style type="text/css">
      .turbolinks-progress-bar {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      background: #0076ff;
      z-index: 9999;
      transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
      transform: translate3d(0, 0, 0);
      }
    </style>

    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  </head>

  <body>
   <%= yield %>
  </body>
</html>
